.resume-wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
}

.resume-title,
.resume-fio,
.resume-position {
    display: block;
    text-align: center;
}

.resume-position {
  font-size: 24px;
  font-weight: 500;
}

.resume-about-me,
.resume-graduated,
.resume-future-plans,
.resume-work-experience {
    margin: 20px 40px 10px 40px;
}

.resume-about-text {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 40px;
}

.resume-about-text::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  top: 7px;
  left: 20px;
}

.resume-work-experience p,
.resume-future-plans p {
    border-left: 3px double gray;
    padding-left: 10px;
    line-height: 1.5;
}
.resume-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  color: #606060;
}

.resume-contacts-box {
  text-align: center;
}

.resume-contacts-box .resume-contacts-title,
.resume-contacts-box .rersume-contacts-text {
    display: block;
}

.resume-contacts-box .resume-contacts-title {
    font-size: 20px;
    font-weight: 700;
}

.resume-contacts-box .resume-contacts-text {
    font-weight: 500;
}